html {
  background-color: #F0F0F0;
}

.bg-container {
  background-color: white;
  border-radius: 3rem;
  height: 43rem;
  width: 91.5rem;
  box-shadow: 1px 5px 5px 5px rgba(0, 0, 0, 0.1);
  margin-left: 2rem;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 15rem 38rem;
  grid-template-rows: 100px;
  grid-template-areas: "nav-container account-bar-container account-bar-container" "nav-container card-info-container goals-cont" "nav-container trancontainer outcome-statistics" "nav-container trancontainer outcome-statistics";
}

.nav-container {
  position: absolute;
  grid-area: nav-container;
}

.nav-container-items {
  display: grid;
  grid-template-columns: repeat(1, 10rem);
  grid-template-rows: repeat(1, 4rem);
  padding-top: 3rem;
  padding-left: 2rem;
}

.nav-container-logo {
  display: flex;
  align-items: center;
  height: 2rem;
  margin-left: 0.5rem;
  gap: 0.8rem;
  cursor: pointer;
}

.cloud-nav {
  width: 43px;
  height: 28px;
}

.nav-name {
  font-family: "Raleway";
  font-size: 1.1rem;
  font-weight: 700;
  color: #0F4264;
}

.premium-img {
  max-width: 5rem;
}

.premium-p {
  font-family: "Raleway";
  font-size: 0.6rem;
  width: 7.4rem;
  line-height: 130%;
}

.premium-button {
  font-family: "Raleway";
  font-size: 0.8rem;
  border-radius: 10px;
  border: none;
  background-color: #FFC145;
  height: 2.5rem;
  width: 10rem;
  font-weight: 600;
  transition: 0.5s;
  cursor: pointer;
}

.premium-button::after {
  content: url(../img/arrow-up-premium.svg);
  margin-left: 0.2rem;
}

.premium-button:hover {
  background-color: white;
  border-color: #FFC145;
  color: #FFC145;
  transition: 0.5s;
}

.nav-container-dollar-img {
  position: absolute;
  margin-left: 1.3rem;
  margin-top: -0.2rem;
}

.nav-container-links {
  display: grid;
  grid-template-columns: repeat(1, 10rem);
  grid-template-rows: repeat(6, 3rem);
  align-items: center;
  text-transform: capitalize;
}

.invoices-container {
  display: flex;
  margin-left: 0.1rem;
  gap: 1.3rem;
  cursor: pointer;
  font-weight: 700;
  color: #C7C7C7;
  height: 2rem;
}

.settings-container {
  gap: 1.2rem;
  font-weight: 700;
  color: #C7C7C7;
  cursor: pointer;
  height: 2rem;
}

.nav-container-premium {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  text-transform: capitalize;
}

.overview-container, .transactions-container, .cards-container, .goals-container {
  gap: 1rem;
  cursor: pointer;
  font-weight: 700;
  color: #C7C7C7;
  height: 2rem;
}

.nav-item {
  text-transform: capitalize;
}

.list-item {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  border-radius: 4px;
}

.overview-before {
  filter: grayscale(100%) opacity(40%);
}

.nav-img {
  width: auto;
  max-width: 1.4rem;
}

.goals-img {
  max-width: 1.6rem;
  margin-left: -0.17rem;
}

.below-gap {
  height: 5rem;
  background-color: #F0F0F0;
}

.active {
  background: #F0F7FF;
  color: #197BBD;
}
.active .nav-img {
  filter: invert(35%) sepia(93%) saturate(546%) hue-rotate(162deg) brightness(97%) contrast(93%);
}
.active .goals-img {
  filter: invert(35%) sepia(93%) saturate(546%) hue-rotate(162deg) brightness(97%) contrast(93%);
}

.overview, .transactions, .cards, .invoices, .goals, .settings {
  font-family: "Lato";
  font-size: 0.875rem;
}

.dividing-line {
  background-color: #F8F8F8;
  height: 43rem;
  width: 2px;
  margin-left: 13.5rem;
  display: inline-block;
}

@media screen and (min-width: 1440px) {
  .header {
    height: 43rem;
  }
}
.account-bar-container {
  display: flex;
  margin: 2.5rem;
  height: 5rem;
  gap: 30rem;
  width: 100%;
  grid-area: account-bar-container;
}

.account-bar-container-user {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.account-bar-container-info {
  line-height: 250%;
}

.user-name-container a {
  text-decoration: none;
  font-family: "Raleway";
  font-size: 14px;
}

.info-text {
  color: #AEAEAE;
  font-family: "Raleway", san;
}

.info-title {
  font-weight: 700;
  font-family: "Raleway";
  font-size: 2.5rem;
}

.user-img {
  width: 3rem;
  height: 3rem;
}

.user-name {
  color: black;
  font-weight: 700;
}

.user-name:hover {
  text-decoration: underline;
}

.user-state {
  color: #AEAEAE;
}

.user-state:hover {
  text-decoration: underline;
}

.info-img {
  width: 1.5rem;
  height: 1.5rem;
}

.card-info-container {
  grid-area: card-info-container;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 0.1rem;
  width: 35rem;
  height: 17rem;
  border-radius: 2rem;
  box-shadow: 1px 3px 3px 3px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 21.5rem 0px 12rem;
  grid-template-areas: "card-swiper card-dividing-line money-balance";
}

.card-container {
  grid-area: card-swiper;
}

.card-container-title {
  padding-left: 1.5rem;
  padding-top: 0.9rem;
  font-family: "Raleway";
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: capitalize;
}

.payment-limit-img {
  padding-left: 2rem;
  width: 17.1rem;
}

.payment-limit-text {
  display: flex;
  font-family: "Raleway";
  font-size: 0.8rem;
  padding-top: 0.5rem;
  padding-left: 2rem;
  gap: 3rem;
}

.limit-title {
  color: #AEAEAE;
}

.limit-numbers {
  font-weight: 600;
}

.card-dividing-line {
  grid-area: card-dividing-line;
  background-color: #E8E8E8;
  height: 11rem;
  width: 1px;
  margin-top: 2.5rem;
}

.money-balance-container {
  grid-area: money-balance;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-family: "Raleway";
  font-size: 1.5rem;
  gap: 0.7rem;
}

.current-balance-container, .income-container, .outcome-container {
  text-align: end;
}

.current-balance-text, .income-text, .outcome-text {
  font-size: 0.875rem;
  color: #AEAEAE;
}

.current-balance-container .dollar-sign {
  font-weight: 600;
}

.current-balance-numbers {
  font-size: 2rem;
  font-weight: 600;
}

.numbers-container {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
  color: #197BBD;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.numbers-container-income {
  color: #439A86;
}

.numbers-container-outcome {
  color: #BB4430;
}

.dollar-sign {
  font-size: 1.125rem;
  transform: rotate(5deg);
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  height: 3.5rem;
  gap: 0.5rem;
}

.button-text {
  font-size: 0.875rem;
  color: #AEAEAE;
}

.switch {
  position: relative;
  display: inline-block;
  width: 41.8px;
  height: 23px;
}

.switch input {
  display: none;
}

.slider {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  position: absolute;
  background-color: #EBEBEB;
  transition: 0.4s;
  border-radius: 14px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  border-radius: 14px;
  background-color: #CDCDCD;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #197BBD;
}

input:checked + .slider:before {
  transform: translateX(20px);
  background-color: #f4f9fd;
}

.swiper-container {
  overflow: hidden;
  width: 20rem;
}

.image-slider__image {
  width: 17rem;
  margin-left: 2rem;
  margin-top: 1rem;
}
.image-slider__image img {
  max-width: 100%;
}

.card-next, .card-prev {
  top: unset !important;
  bottom: 56%;
}

.card-next {
  margin-left: 38rem;
  left: 0% !important;
}

.card-prev {
  margin-left: 18.7rem;
}

.card-next::after, .card-prev::after {
  font-size: 25px !important;
  color: #197BBD;
}

.transactions-history-container {
  grid-area: trancontainer;
  margin-left: 2rem;
  width: 35rem;
  height: 15rem;
  border-radius: 2rem;
  box-shadow: 1px 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.transactions-history-title {
  margin-top: 1rem;
  margin-left: 1.5rem;
  font-weight: 600;
  font-family: "Raleway";
  font-size: 1.25rem;
}

.transactions-types {
  display: grid;
  grid-template-areas: "reciever-container type-container date-container amount-container";
  grid-template-columns: 190px 110px 150px 53px;
  margin-left: 1.5rem;
  margin-top: 1rem;
  font-family: "Raleway";
  font-size: 14px;
}

.reciever-container-main-title, .type-container-main-title, .date-container-main-title, .amount-container-main-title, .type-container-title, .date-container-title {
  color: #AEAEAE;
}

.reciever-container {
  grid-area: reciever-container;
  display: grid;
  gap: 0.5rem;
}

.reciever-container-main-title {
  margin-bottom: 0.8rem;
}

.reciever-container-title {
  font-weight: 600;
  margin-bottom: 0.2rem;
  margin-top: 0.2rem;
}

.tesco::before, .electromen::before, .fiorgio::before, .john::before {
  background-color: #EFEFEF;
  border-radius: 4px;
  margin-right: 0.5rem;
}

.tesco::before {
  content: url(../img/cart.svg);
}

.electromen::before {
  content: url(../img/cart.svg);
}

.fiorgio::before {
  content: url(../img/fiorgio.svg);
}

.john::before {
  content: url(../img/john.svg);
}

.type-container {
  grid-area: type-container;
  display: grid;
  gap: 0.8rem;
}

.type-container-main-title {
  margin-bottom: 0.1rem;
}

.date-container {
  grid-area: date-container;
  display: grid;
  gap: 0.8rem;
}

.date-container-main-title {
  margin-bottom: 0.1rem;
}

.amount-container {
  grid-area: amount-container;
  display: grid;
  gap: 0.8rem;
}

.amount-container-title {
  text-align: end;
  font-weight: 600;
}

.types-dividing-line {
  background-color: #E8E8E8;
  height: 1px;
  width: 32rem;
}

.goals-block-container {
  grid-area: goals-cont;
  margin-top: 2.7rem;
  margin-left: 1.5rem;
  width: 31rem;
  height: 12rem;
}

.goals-wrapper {
  width: 32rem;
  margin-left: 1rem;
}

.goals-title-container {
  display: flex;
  align-items: center;
  font-family: "Raleway";
  font-size: 1.25rem;
  font-weight: 600;
  gap: 0.3rem;
  margin-left: 1.3rem;
}

.plus-circle {
  width: 20px;
  height: 20px;
  margin-top: 0.2rem;
  cursor: pointer;
}

.goals-swiper {
  overflow: hidden;
  height: 11rem;
}

.goals-slide {
  width: 31rem !important;
  display: flex;
  gap: 1rem;
}

.goals-block {
  margin-top: 1rem;
  margin-left: 0.2rem;
  width: 140px !important;
  height: 140px !important;
  border-radius: 28px;
  background-color: #FFFFFF !important;
  box-shadow: 1px 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.holidays-content, .renovation-content, .xbox-content {
  display: flex;
  flex-direction: column;
  margin-left: 1.3rem;
  margin-top: 0.8rem;
}

.goals-block-img {
  margin-top: 2rem;
  width: 30px;
  height: 25px;
}

.goals-block-money-goal {
  font-family: "lato";
  font-size: 1.5rem;
  font-weight: 600;
  color: #696969;
}

.goals-block-date {
  font-family: "raleway";
  font-size: 0.875rem;
  color: #AEAEAE;
}

.goals-block-title {
  font-family: "raleway";
  font-size: 1.25rem;
}

.goals-swiper .swiper-button-disabled::after {
  display: none;
}

.goals-next::after, .goals-prev::after {
  font-size: 25px !important;
  color: #197BBD;
}

.goals-prev::after {
  margin-right: 2.15rem;
  position: absolute;
}

.goals-next::after {
  margin-left: 2.19rem;
}

.outcome-statistics-container {
  grid-area: outcome-statistics;
  margin-left: 3.2rem;
}

.outcome-statistics-container-title {
  font-family: "raleway";
  font-size: 1.25rem;
  font-weight: 600;
}

/*# sourceMappingURL=style.css.map */
