
html {
    background-color: #F0F0F0;
}

.bg-container {
    background-color: white;
    border-radius: 3rem;
    height: 43rem;
    width: 91.5rem;
    box-shadow: 1px 5px 5px 5px rgb(0, 0, 0, 0.1);
    margin-left: 2rem;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 15rem 38rem;
    grid-template-rows: 100px;
    grid-template-areas: 
    "nav-container account-bar-container account-bar-container"
    "nav-container card-info-container goals-cont"
    "nav-container trancontainer outcome-statistics"
    "nav-container trancontainer outcome-statistics"
    ;
}