* {
    @include font;
}
html {
    background-color: #F0F0F0;
}
.header {
    display: flex;
    justify-content: center;
}
.bg-container {
    background-color: white;
    border-radius: 3rem;
    height: 55rem;
    width: 90rem;
    margin-top: 1rem;
    box-shadow: 1px 5px 5px 5px rgb(0, 0, 0, 0.1);
}