.nav-container {
    margin: 3rem;
}
.nav-container-items {
    display: grid;
    grid-template-columns: repeat(1, 8rem);
    grid-template-rows: repeat(1, 7rem);
    padding-top: 3rem;
}
.nav-container-premium {
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.nav-container-logo {
    display: flex;
    align-items: center;
    height: 2rem;
}
.cloud-nav {
    width: 43px;
    height: 28px;
}
.nav-name {
    @include font;
    font-size: 1.1rem;
    font-weight: 700;
    color: #0F4264;
}
.premium-img {
    max-width: 5rem;
}
.premium-p {
    font-size: 0.6rem;
    @include font;
}
.premium-button {
    font-size: 0.8rem;
    border-radius: 10px;
    border: none;
    background-color: #FFC145;
    height: 2.5rem;
    width: 10rem;
    font-weight: 600;
}
.premium-button::after {
    content: url(../img/arrow-up-premium.svg);
}

.nav-container-dollar {
    position: absolute;
}
.nav-container-links {
    display: grid;
    grid-template-columns: repeat(1,5rem);
    grid-template-rows: repeat(6, 3rem);
    align-items: center;
}
.invoices-container {
    display: flex;
    margin-left: 0.1rem;
    gap: 1.3rem;
    @include font;
}
.nav-item {
    text-transform: capitalize;
}

.list-item {
    display: flex;
    gap: 1rem;
    align-items: center;
    @include font;
}
.overview-before{
    filter: grayscale(100%) opacity(40%);
}
.nav-img {
    width: auto;
    max-width: 1.4rem;
}
.goals-img {
    max-width: 1.6rem;
    margin-left: -0.17rem;
}
.nav-container-line-block {
    width: 11rem;
    display: flex;
    justify-content: flex-end;
}
.nav-container-line {
    width: 2px;
    background-color: red;
    height: 5rem;
    height: 9rem;
}