// @media screen  and (min-width: 1920px) {
//     .nav-container-items {
//         grid-template-rows: repeat(1, 6rem);
//         padding-top: 0%;
//     }
//     .header {
//         height: 45rem;
//     }
//     .nav-container-premium {
//         margin-top: 3rem;

//     }
// }
@media screen and (min-width:1440px) {
    .header {
        height: 43rem;
    }
}
@media screen and (max-width:768px) {
    .card-prev::after, .card-next::after{
        margin-top: 20rem;
    }
}
@media screen and (max-width:1024px) {
    .card-next::after, .card-prev::after {
        margin-top: 20rem;
    }
}
