block account 
    .account-bar-container-info
        h1.info-title Weekly sumup
        p.info-text Get summary of your weekly online transactions here.
    .account-bar-container-user 
        img(src="img/mail.svg", alt="mail-img", class='mail-img', class='info-img')
        img(src="img/bell.svg", alt="bell-img", class='bell-img', class='info-img')
        img(src="img/user.png", alt="user-img", class='user-img')
        .user-name-container
            a(href="file:///C:/Users/GATEWAY/OneDrive/Рабочий%20стол/task2/index.html") 
                p.user-name Andrew 
            a(href="file:///C:/Users/GATEWAY/OneDrive/Рабочий%20стол/task2/index.html") 
                p.user-state Admin account 