block get-great-loan
    img(src="img/cloud-one.svg", alt="cloude-one", class="cloud-one")
    img(src="img/cloud-one.svg", alt="cloude-two", class="cloud-two")
    .ellipse-dollar-container
        img(src="img/ellipse-dollar.png", alt="ellipse-dollar", class="ellipse-dollar-one")
        img(src="img/ellipse-dollar.png", alt="ellipse-dollar", class="ellipse-dollar-two")
    p.ellipse-dollar-text-one $
    p.ellipse-dollar-text-two $
    .get-great-loan-title-container
        h2.get-great-loan-title-one Get great 
        h2.get-great-loan-title-two loan!