block goals 
    .goals-title-container
        h2.goals-title Goals 
        a(href="#") 
            img(src="img/plus-circle.svg", alt="", class="plus-circle")
    
    .goals-swiper-container 
        .swiper.goals-swiper 
            .swiper-wrapper.goals-wrapper 
                .swiper-slide.goals-slide 
                        .goals-block.goals-block-holidays 
                            .holidays-content
                                h2.goals-block-money-goal $ 550
                                p.goals-block-date 12/20/20
                                img(src="img/mountain.svg", alt="mountain image", class="goals-block-img")
                                h2.goals-block-title Holidays
                        .goals-block.goals-block-renovaiton
                            .renovation-content
                                h2.goals-block-money-goal $ 200
                                p.goals-block-date 12/20/20
                                img(src="img/renovation.svg", alt="renovation image", class="goals-block-img")
                                h2.goals-block-title Renovation
                        .goals-block.goals-block-xbox
                            .xbox-content
                                h2.goals-block-money-goal $ 820
                                p.goals-block-date 12/20/20
                                img(src="img/xbox.svg", alt="xbox image", class="goals-block-img")
                                h2.goals-block-title Xbox
                .swiper-slide.goals-slide
                        .goals-block.goals-block-holidays  
                            .holidays-content
                                h2.goals-block-money-goal $ 550
                                p.goals-block-date 12/20/20
                                img(src="img/mountain.svg", alt="mountain image", class="goals-block-img")
                                h2.goals-block-title Holidays
                        .goals-block.goals-block-renovaiton
                            .renovation-content
                                h2.goals-block-money-goal $ 200
                                p.goals-block-date 12/20/20
                                img(src="img/renovation.svg", alt="renovation image", class="goals-block-img")
                                h2.goals-block-title Renovation
                        .goals-block.goals-block-xbox
                            .xbox-content
                                h2.goals-block-money-goal $ 820
                                p.goals-block-date 12/20/20
                                img(src="img/xbox.svg", alt="xbox image", class="goals-block-img")
                                h2.goals-block-title Xbox
            .swiper-button-prev.goals-prev
            .swiper-button-next.goals-next
