block outcome-statistics
    h2.outcome-statistics-container-title Outcome Statistics 
    .statistics-container 
        .statistics-shopping-container
            img(src="img/oscart.svg", alt="oscart", class="oscart")
            img(src="img/shopping.png", alt="shopping-progress-line", class="shopping-progress-line")
            p.shopping-title Shopping
            h2.shopping-percent 52%
        .statistics-electronics-container 
            img(src="img/automobile.png", alt="automobile", class="automobile")
            img(src="img/electronics-progress-line.png", alt="electronics-progress-line", class="electronics-progress-line")
            p.electronics-title Electronics
            h2.electronics-percent 21%
        .statistics-travels-container 
            img(src="img/plane.svg", alt="plane", class="plane")
            img(src="img/travels-progress-line.png", alt="travels-progress-line", class="travels-progress-line")
            p.travels-title Travels
            h2.travels-percent 74%