block tranhistory 
    h2.transactions-history-title Transactions history 
    .transactions-types 
        .reciever-container 
            p.reciever-container-main-title Reciever
            p.reciever-container-title.tesco Tesco Market 
            .types-dividing-line
            p.reciever-container-title.electromen ElectronMen Market 
            .types-dividing-line
            p.reciever-container-title.fiorgio Fiorgio Restaurant 
            .types-dividing-line
            p.reciever-container-title.john John Mathew Kayne 
            .types-dividing-line
        .type-container 
            p.type-container-main-title Type
            p.type-container-title Shopping 
            p.type-container-title Shopping
            p.type-container-title Food
            p.type-container-title Sport
        .date-container 
            p.date-container-main-title Date
            p.date-container-title 13 Dec 2020
            p.date-container-title 14 Dec 2020
            p.date-container-title 07 Dec 2020
            p.date-container-title 06 Dec 2020
        .amount-container 
            p.amount-container-main-title Amount
            p.amount-container-title $75.67
            p.amount-container-title $250.00
            p.amount-container-title $19.50
            p.amount-container-title $350